
<h4 class="m-3 text-center text-danger fw-bold text-decoration-underline">ELIGIBILITY AND DOCUMENTATION TO <br> APPLY FOR PERSONAL LOAN:</h4>
<br>

<div class="row">
    
    
    <div class="col-md-4">
      
      <h4 class="text-primary m-3">The Eligibility Criteria to apply for Personal Loan</h4>
      
      <ul>
        <li><h6><strong>Age:</strong> 21 years-55 years</h6></li>
        <br>
        <li><h6><strong>Monthly Income:</strong> Minimum Rs.30,000</h6></li>
        <br>
        <li><h6><strong>Interest Rate:</strong> 10.25% Uto 50 lakh</h6></li>
        <br>
        <li><h6><strong>CIBIL Requirement:</strong> 700 or higher</h6></li>
        <br>
        <li><h6><strong>Tenure:</strong> Between 1 month - 84 mmonths</h6></li>
      </ul>
    </div>
    <div class="col-md-4">
        <br>
        <img class="custom-height" src="assets\images\document.png">
    </div>
    <div class="col-md-4 ">
        <h4 class="text-primary m-3">Documents Required to apply for Personal Loan</h4>
      
        <ul>
          <li><h6>Aadhar Card</h6></li>
          <br>
          <li><h6>PAN Card</h6></li>
          <br>
          <li><h6>Bank Statement of previous 6 months</h6></li>
          <br>
          <li><h6>Two latest salary slips/current dated salary certificates with hte latest Form 16</h6></li>
        </ul>
    </div>
   
      
    </div>


    