 <table class="table table-hover">
    <thead class="thead-dark">
        <tr>

            <th scope="col">Id</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Email</th>
            <th scope="col">Employee Profile</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employees"> 
            <th scope="row">{{e.employeeId}}</th>
            <td>{{e.employeeName}}</td>
            <td>{{e.employeeEmail}}</td>
            <td>{{e.employeeProfile}}</td>

            <td>
            <button class="btn btn-danger m-2 p-0 text-center" style="font-size:small; background-color: #FF004D;border-radius: 10px;" >EDIT</button>
            <button class="btn btn-danger m-2 p-0 text-center"  style="font-size: small; background-color: #FF004D;border-radius: 10px;">DELETE</button>

            </td>
        </tr>
    </tbody>
</table> 