


 <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Employee Name</th>
            <th>Employee Email</th>
            <th>Employee Profile</th>
            <th>password</th>
            <th scope="col" colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employee"> 
            <td>{{e.employeeId}}</td>
            <td>{{e.employeeName}}</td>
            <td>{{e.employeeEmail}}</td>
            <td>{{e.employeeProfile}}</td>
            <td>{{e.password}}</td> 
            <td>
                 <button class="btn btn-primary"(click)="onEdit(e)" >EDIT</button>
                 <button class="btn btn-danger" (click)="onDelete(e.employeeId)"> Delete</button>
            </td>
        </tr>
    </tbody>
</table> 