


<div class="container1">
    <form [formGroup]="enquiryForm" (ngSubmit)="onEnquiry()" class="form">
	

    <div class="login_form_wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-offset-2">
           
						<!-- login_wrapper -->
						<div class="login_wrapper">
              <h3 class="text-danger text-center text-decoration-underline">Enquiry Form</h3><br>
							<div class="formsix-pos">
								<div class="form-group i-fname">
                                 	<input type="text" class="form-control" formControlName="firstName" placeholder="Enter First Name">
								</div>
							</div>
							<div class="formsix-e">
								<div class="form-group i-lname">
									<input type="text" class="form-control" formControlName="lastName" placeholder="Enter Last Name">
								</div>
							</div>
                            <div class="formsix-e">
								<div class="form-group i-age">
									<input type="text" class="form-control" formControlName="age" placeholder="Enter Age">
								</div>
							</div>
							<div class="formsix-e">
								<div class="form-group i-email">
                                 	<input type="email" class="form-control" formControlName="email" placeholder="Enter Email Id">
								</div>
							</div>
                            <div class="formsix-e">
								<div class="form-group i-mobno">
									<input type="text" class="form-control" formControlName="mobileNo" placeholder="Enter Mobile Number">
								</div>
							</div>
							<div class="formsix-e">
								<div class="form-group i-pancard">
									<input type="text" class="form-control" formControlName="pancardNo" placeholder="Enter pan No">
								</div>
							</div>
							<div formGroupName="cibilForm">
                            <div class="formsix-e">
								<div class="form-group i-cscore">
									<input type="text" class="form-control" formControlName="cibilScore" placeholder="Enter Cibil Score">
								</div>
							</div>
                            <div class="formsix-e">
								<div class="form-group i-cdate">
									<input type="text" class="form-control" formControlName="cibilScoreDateTime" placeholder="Enter cibilScoreDateTime">
								</div>
							</div>
                            <div class="formsix-e">
								<div class="form-group i-cstatus">
									<input type="text" class="form-control" formControlName="status" placeholder="Enter cibil status">
								</div>
							</div>
							
							<div class="text-center login_btn_wrapper">
								<button class="btn btn-primary login_btn" type="submit"> Submit</button>
							</div>
						</div>
						</div>
					
						<!-- /.login_wrapper-->
					</div>
				</div>
			</div>
		</div>
		
		</form>
		</div>
