


  <nav class="navbar navbar-light " style="background-color: #FF004D;">
    <div class="container-fluid" >
      <a class="navbar-brand ml-0 mt-1"></a>
    
        <img src="assets\images\logo2.jpg" alt="Logo" height="80px" width="350px" >
        
      
            <button class="btn btn-danger " style="font-size: large; background-color: #FF004D;border-radius: 20px;" routerLink="about">About us</button>
            
            <button class="btn btn-danger" style="font-size: large; background-color: #FF004D;border-radius: 20px;" routerLink="contact">Contact us</button>
          
            <button class="btn btn-danger" style="font-size: large; background-color: #FF004D;border-radius: 20px;" >EMI Calculator</button>
            <button class="btn btn-danger" style="font-size: large; background-color: #FF004D;border-radius: 20px;" routerLink="eligibility">Eligibility</button>
           <!--  <button class="btn btn-danger" ></button>
            <button class="btn btn-danger" ></button>
            <button class="btn btn-danger" ></button>
            <button class="btn btn-danger" ></button> -->
            
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form> -->
<!-- <<<<<<< HEAD
            <div class="btn-group" role="group" aria-label="Login and Signup Buttons">
              <button type="button" class="btn btn-warning" routerLink="login">Login</button>
              <button type="button" class="btn btn-success" routerLink="enquire">Enquiry</button>
              <button type="button" class="btn btn-success" routerLink="view-enquire">View Enquiry</button>
            </div>
======= -->
            
             
              <!-- <button type="button" class="btn btn-danger"  routerLink="enquire">Enquiry</button> -->
              <button type="button" class="btn btn-danger" style="font-size: large; background-color: #FF004D;border-radius: 20px;" routerLink="login">Login</button>
            

            
      
    </div>
  </nav>
  

  
  
  