


  <nav class="navbar navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand ml-auto"></a>
    
        <img src="assets\images\logo1.jpg" alt="Logo" height="44">
      
            <button class="btn btn-danger" routerLink="about">About us</button>
            
            <button class="btn btn-danger" routerLink="contact">Contact us</button>
          
            <button class="btn btn-danger" >EMI Calculator</button>
            <button class="btn btn-danger" routerLink="eligibility">Eligibility</button>
            <button class="btn btn-danger" ></button>
            <button class="btn btn-danger" ></button>
            <button class="btn btn-danger" ></button>
            <button class="btn btn-danger" ></button>
            
            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form> -->
            <div class="btn-group" role="group" aria-label="Login and Signup Buttons">
              <button type="button" class="btn btn-warning" routerLink="login">Login</button>
              <button type="button" class="btn btn-success" routerLink="enquire">Enquiry</button>
            </div>
            
      
    </div>
  </nav>
  

  
  
  