.login_form_wrapper{
    display: flex;
   
    position: relative;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    width: 2000px;
}
.login_wrapper{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
   width: 400px;
   height: 500px;
   padding: 20px;
   margin: 20px;
}
