<!-- <div class="container" style="height: 0px;width: 100%;"> -->
<div id="slider">
  <div>
  <figure>

      <!-- <img class="custom-height" src="assets/images/i1.jpeg"> -->
      <img class="custom-height" src="assets/images/i3.jpg">
      

      

  </figure>
  

    </div>
      <button class="btn btn-danger fw-bold mt-4" style="margin-left: 45%;height: 60px; width: 120px; border-radius: 40px; margin-bottom: 0%;background-color:#FF004D;" routerLink="enquire">Apply now</button>
  </div>
  <br>
  <div class="cards" style="display: flex; align-items:center;">
  <div class="card" style="width: 30rem; height: 20rem;margin-left: 30px;">
  <h2 class="text-center text-white  fw-bold " style="background-color:#FF004D;">Medical Loan</h2>
  <h6 class="text-center text-muted m-2"><small>Health is the single most important asset that one has in the whole lifetime. It deserves protection and care to help us move ahead in everything we do. While medical conditions can be threatening at times, the treatment at the right time is crucial and often the only saviour. The cost of medical treatment can be quite high on many occasions, leaving you with little choice but to scramble up different sources - from investments to deposits to regular savings. However, there is another way to finance your medical emergencies without affecting your wealth or savings – to use. different credit tools. One of the tools is Personal Loans.</small></h6>

</div>

<div class="card"  style="width: 30rem; height: 20rem;">
  <h2 class="text-center text-white " style="background-color:#FF004D;">Features and Benefits</h2>
  <h6 class="text-center text-muted">Here are some of the features and benefits of medical loans:</h6>
  <div class="row">
    <div class="col-md-1 text-center">
      

    </div>
      <button class="font-bold mt-4 button " style="margin-left: 45%;height: 60px; width: 150px; border-radius: 40px; margin-bottom: 0%" (click)="onApply()">Apply Now</button>
  </div>
  <br>
  <div class="cards" style="display: flex; align-items:center;">
  <div class="card" style="width: 30rem; height: 20rem;margin-left: 30px;">
  <h2 class="text-center text-white  fw-bold " style="background-color:#ee1657;">Medical Loan</h2>
  <h6 class="text-center text-muted m-2"><small>Health is the single most important asset that one has in the whole lifetime. It deserves protection and care to help us move ahead in everything we do. While medical conditions can be threatening at times, the treatment at the right time is crucial and often the only saviour. The cost of medical treatment can be quite high on many occasions, leaving you with little choice but to scramble up different sources - from investments to deposits to regular savings. However, there is another way to finance your medical emergencies without affecting your wealth or savings</small></h6>

</div>

<div class="card"  style="width: 30rem; height: 20rem;">
  <h2 class="text-center text-white " style="background-color:#ee1657;">Features and Benefits</h2>
  <h6 class="text-center text-muted">Here are some of the features and benefits of medical loans:</h6><br>
  <div class="row">
    
    
    <div class="col-md-4 text-center">
      <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>&nbsp;
      
      <h6 class="text-center text-muted">Minimal documents are needed</h6>
    </div>
    <div class="col-md-4 text-center">
      <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></a>&nbsp;
      <h6 class="text-center text-muted">Easy Repayments in EMIs</h6>
    </div>
    <div class="col-md-4 text-center">
      <a type="button" class="btn btn-floating btn-secondary btn-lg"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>&nbsp;
      <h6 class="text-center text-muted">Available to salaried and self-employed individuals</h6>

    </div>
    <div class="col-md-1 text-center">
      
    </div>
    </div>
  
</div>
  
<div  class="card" style="width: 30rem; height: 20rem;">
   
    
    <h2 class="me-2 text-center text-white " style="background-color:#FF004D;">All You Need To Know</h2>
    <h6 class="m-2"><strong>Flexible tenure, considerable loan amount:</strong> &nbsp;<small class="text-muted">A personal emergency loan from HDFC Bank comes with flexible repayment tenures of 1-5 years. And you can get an amount of anywhere between Rs 50,000 to Rs 40 lakh, which can help you meet your financial needs in case of a personal emergency.</small></h6>
    
    <h6 class="m-2"><strong>Quick and easy disbursal:</strong>&nbsp;<small class="text-muted">You can get an urgent personal loan to cater to an emergency, as HDFC Bank approves such loans almost instantly and disbursal takes place within one working day from the time of document submission.</small></h6>
    
    <h6 class="m-3"><strong>No end-use restriction:</strong> &nbsp;<small class="text-muted">You can use an emergency personal loan to fund any urgent expenses, medical or otherwise.</small></h6>
    <!-- 
    <h6 class="m-3"><strong>Easy repayment in monthly installments:</strong>&nbsp;<small class="text-muted">With the option to plan your EMIs and loan tenure based on your monthly income, there is little pressure to repay immediately. With loan tenures of 12-60 months, affordable EMIs make it easy on your pocket</small></h6>
    
    <h6 class="m-3"><strong>Minimal documentation:</strong>  &nbsp;<small class="text-muted">Getting a medical loan or a personal emergency loan from HDFC Bank is a stress-free and hassle-free option, as the process involves minimal paperwork. You can always choose to apply online, and if you are a pre-approved HDFC Bank customer, the bank may not even ask for additional documents.</small></h6> -->
    
    <br>
    <!-- <h4 class="m-3 text-danger text-decoration-underline">Eligibility:</h4>
    
    <ul>
      <li><h6><small class="text-dark">Salaried employees at select private limited companies and public sector undertakings (including central, state and local bodies)</small></h6></li>
      <li><h6><small class="text-dark">Must be between 21 years and 60 years of age</small></h6></li>
      <li><h6><small class="text-dark">Must have had a job for at least 2 years, with a minimum of 1 year with the current employer</small></h6></li>
      <li><h6><small class="text-dark">For self-employed: Applicants must have a specified minimum income (may vary with location). Financial documents to show stability of income may also be required by the bank.</small></h6></li>
      <li><h6><small class="text-dark">Must have a minimum net monthly income of Rs 50,000</small></h6></li>
    </ul>-->
  
</div>

  
<div  class="card" style="width: 30rem; height: 20rem;">
   
    
    <h2 class="me-2 text-center text-white " style="background-color:#ee1657;">All You Need To Know</h2>
    <h6 class="m-2"><strong>Flexible tenure, considerable loan amount:</strong> &nbsp;<small class="text-muted">A personal emergency loan from ApnaFinance comes with flexible repayment tenures of 1-5 years.</small></h6>
    
    <h6 class="m-2"><strong>Quick and easy disbursal:</strong>&nbsp;<small class="text-muted">You can get an urgent personal loan to cater to an emergency, as ApnaFinance approves such loans almost instantly and disbursal takes place within one working day.</small></h6>
    
    <h6 class="m-3"><strong>No end-use restriction:</strong> &nbsp;<small class="text-muted">You can use an emergency personal loan to fund any urgent expenses, medical or otherwise.</small></h6> 

</div>



